.home-biopic{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 50px;
}
.home-biopic img{
	filter: grayscale(1) contrast(200%); 
}
.home-biopic h1{
	font-variant: small-caps;
}

.home-container{
	display: grid;
	grid-column-gap: 50px; 
	grid-template-columns: auto auto; 
	width: 600px;
  	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 50px; 
}


.home-skills{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.home-skills ul{
	list-style-type: "› "; 
	padding-left: 0px;
}
.home-about{
	grid-column-start: 1;
	grid-column-end: 2;
}
.home-bio{
	grid-column-start: 1;
	grid-column-end: 2;
}

@media only screen and (max-width: 650px){
	.home-container{
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
	}
	.home-bio{
		grid-column-start:1;
		grid-column-end:3; 
	}
}
