

.portfolio-project{
	display: block;
	width: 700px;
	margin-left: auto; 
	margin-right: auto;
	border: 0px solid white;
	border-radius: 7px;
	box-shadow: 0 0 7px rgb(150, 150, 150);
	margin-top: 20px; margin-bottom: 20px;
	transition: 0.5s; 
}

.portfolio-project:hover{
	box-shadow: 0 0 20px rgb(150, 150, 150); 
	transition: 0.5s;
}

@media only screen and (max-width: 750px){
	.portfolio-project{
		width: auto;
		margin-left: 25px;
		margin-right: 25px;
	}
}

.portfolio-project-wrapper{
	padding: 20px;
}


.portfolio-project a img{
	height: 30px;
	transform: translate(0,-10%);
	padding-right: 15px;
}

.portfolio-project a{
	transition: 0.4s
}

.portfolio-project a:hover{
	text-decoration: none;
	color: blue;
}

.portfolio-project-details-false{
    overflow: hidden;
	transition: opacity 0.7s linear;
	max-height: 0;
    transition: max-height 0.5s ease-out;
}

.portfolio-project-details-true{
	overflow:hidden;
	opacity: 1; 
	transition: opacity 0.7s linear;
	max-height: 2000px;
    transition: max-height 0.5s ease-in;
}

.portfolio-project-header{
	background-color: #707174;
	padding: 10px;
	border-top-left-radius: 7px; border-top-right-radius: 7px; 
	text-transform: uppercase;
}

.portfolio-project-header i h3{
	width: 60%;
	display: inline-flex;
	color: white;
	font-weight: bold;


}
.portfolio-project-header button{
	border: 1px solid white;
	border-radius: 5px;
	display: inline-flex;
	float: right;
	color: white;
	background-color: transparent; 
	transform: translate(0, 25%);
}

.portfolio-project-header button:focus{
	outline: none;
}	

.portfolio-project-technologies ul{
	list-style-type: none;
	padding-left: 0;

}
.portfolio-project-technologies li{
	display: inline-block;
	margin-right: 15px;
	color: black;
	border-radius: 7px;
	background-color: rgb(228, 228, 228);
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.screenshots-container{
	text-align: center; 
}

.screenshots-container li{
	list-style-type:none; 
	display: inline-block; 
	padding: 10px; 
	width: 30%; 
}

.screenshots-container li img{
	border: 1px solid rgba(0, 0, 0, 0.297); 
	width: 100%;
}
.screenshots-container li img:hover{
	cursor: pointer; 
}

