
.portfolio-header{
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	background-color: #f2f7f9;
}

.portfolio-projects-wrapper{
	margin-top: 30px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.portfolio-projects-wrapper hr{
	width: 40vw;
	border-width: 2px;
	margin-bottom:20px;
	margin-top: 20px;
}

.portfolio-project a img{
	height: 30px;
	transform: translate(0,-10%);
	padding-right: 15px;
}

.portfolio-project a{
	transition: 0.4s
}

.portfolio-project a:hover{
	text-decoration: none;
	color: blue;
}

.portfolio-project-technologies ul{
	list-style-type: none;
	padding-left: 0;

}
.portfolio-project-technologies li{
	display: inline-block;
	margin-right: 15px;
	color: black;
	border-radius: 7px;
	background-color: rgb(228, 228, 228);
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.screenshots-container li{
	list-style-type:none; 
	display: inline-block; 
	padding: 10px; 
	width: 30%; 
}

.screenshots-container li img{
	border: 1px solid rgba(0, 0, 0, 0.297); 
	width: 100%;
}
.screenshots-container li img:hover{
	cursor: pointer; 
}

@media only screen and (max-width: 650px){
	.portfolio-projects-wrapper{
		width: auto;
		margin-right: 25px;
		margin-left: 25px;
	}
}
