.navbar-container{
	position: fixed;
	top: 0;
	display: inline-grid;
	grid-template-columns: max-content auto; 
	width: 100%;
	padding-left: 10px;
	padding-right:10px;
	background-color: rgba(249, 249, 249, 0.4);
	border-bottom: 3px solid #33CEFF;
	box-shadow: 0px 5px 10px #e1e4e7;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: white;
	z-index: 3;
}

.navbar-logo{
	display: flex;
	align-items: center; 
	letter-spacing: 2px; 
}

.navbar-navlist{
	margin-bottom: auto;
	margin-top: auto;
}

.navbar-navlink{
	align-items: center; 
	display: inline-block;
  	padding-left: 10px;
  	padding-right: 10px;
}
.navbar-routerlink{
	text-decoration: none; 
	transition: 0.4s;
}
.navbar-routerlink:hover{
	color: blue; 
	text-decoration: none; 
}
